svg {
  border: 1px solid black;
}

.curves {
  stroke: black;
  fill: none;
}

.control-line {
  stroke: green;
  fill: none;
}

.handle {
  fill: red;
  opacity: 0.5;
  cursor: move;
}

.handle-text {
  font-size: 12px;
  font-family: 'Noto Sans Japanese', sans;
}

.intersections {
  fill: blue;
  opacity: 0.5;
}
